@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

body {
  background: linear-gradient(to bottom right, #1e3a8a, #155e75, #581c87);
}

.dancing-script-mainfont {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
  }